@font-face {
  font-family: 'jbm';
  src: url('fonts/jbm.woff2');
}

html, body {
  margin: 0;
  padding: 0;
  background-image: url('images/background.gif');
  background-size: 40px 40px;
  background-repeat: repeat;
  color: #d3c6aa;
  font-family: 'jbm', sans-serif;
  height: 100%;
}

a {
  text-decoration: none;
  color: #7fbbb3;
}
a:visited {
  color: #83c092;
}
a:hover {
  color: #d699b6;
}
a:active {
  color: #e67e80;
}

.container {
  max-width: 768px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
}

.header {
  text-align: center;
  padding: 50px 0;
  background: #282c34;
  color: #d3c6aa;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

h1 {
  font-size: 3em;
  margin: 0;
}

p {
  line-height: 1.8;
  font-size: 1.2em;
}

.bg {
  background-image: url('images/two_forests_everforest.png');
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.15;
  z-index: -1;
}

.footer {
  text-align: center;
  padding: 20px;
  background: #282c34;
  color: #d3c6aa;
  position: absolute;
  bottom: 0;
  width: 100%;
}
