@font-face {
  font-family: 'jbm';
  src: url('jbm.woff2');
}

html {
  background-image: url('images/background.png'); /* Repeated background image */
  background-repeat: repeat;
  background-size: 40px 40px; /* Adjust the size of the background images to be small */
  color: #d3c6aa;
  font-family: 'jbm';
}

body {
  margin: 0;
}

/* unvisited link */
a:link {
  color: #7fbbb3;
}
a:visited {
  color: #83c092;
}
a:hover {
  color: #d699b6;
}
a:active {
  color: #e67e80;
}

/* Overlaying two_forests_everforest.png with vertical repetition */
.bg {
  background-image: url('images/two_forests_everforest.png'); /* Overlay image */
  background-repeat: repeat-y; /* Repeat vertically */
  background-size: 100% 200%; /* Adjust size of the overlay image */
  mix-blend-mode: overlay; /* Overlay blend mode to blend with the background below */
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -10;
}

.container { /* Layout styling */
  max-width: 768px;
  margin: 10px auto;
  padding: 0 10px;
}

.paragraph {
  border: 5px solid #a7c080;
  padding: 15px;
  margin-bottom: 20px; 
  position: relative;
  background-color: #323c41;
  overflow: hidden;
  box-shadow: 8px 8px #3a454a;
}

@keyframes marquee-veryfast {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.marquee-veryfast {
  width: 100%;
  animation: marquee-veryfast 10s linear infinite;
}

.yellow {
  color: #dbbc7f;
}

#navigation {
  position: absolute;
  top: 15px;
  right: 15px;
}

p, h1, h2, h3 {
  margin: 0%;
}

#john {
  margin: 0% auto;
  box-shadow: 8px 8px #3a454a;
}

#mante table {
  width: 100%;
}
#mante tbody tr .webring-prev {
  width: 25%;
  text-align: right;
}
#mante tbody tr .webring-info {
  width: 50%;
  text-align: center;
}
#mante tbody tr .webring-next {
  width: 25%;
  text-align: left;
}
#mante { 
  border: solid 1px #003621;
  border-radius: 8px;
  margin-bottom: 8px;
  box-shadow: 2px 2px #63b695;
  padding: 8px; 
  color: #003621; 
  background-color: #e0ffe8;
}
#mante a {
  color: #003621;
  text-decoration-color: #00824f;
}
#mante a:hover {
  color: #00824f;
}
